@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}


/* Glass card elegante */
.glass-card {
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  color: #111827; 
}

